/* Skill selection*/
#skill-selector{
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#skill-selector > div{
    display: inline-block;
}

#skill-selector div.skill{
    height: 237px;
    width: 200px;
    margin: 5px;
    padding: 15px;
    padding-top: 22px;
    display: inline-block;
    background: center center no-repeat;
    opacity: 0.75;
    position: relative;
    top: 0;
    transition: all 0.5s;
}

#skill-selector div.skill:hover{
    opacity: 1;
    top:-5px;
}

#skill-selector div.skill span.subskills{
    position: absolute;
    bottom: 58px;
    right: 30px;
    color: #000000;
}


#skill-selector div.skill span.title{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 15px;
    color: #000000;
}/* Skill selection*/
#skill-selector{
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#skill-selector div.skill{
    height: 237px;
    width: 200px;
    margin: 5px;
    padding: 15px;
    padding-top: 22px;
    display: inline-block;
    background: center center no-repeat;
    opacity: 0.75;
    position: relative;
    top: 0;
    transition: all 0.5s;
}

#skill-selector div.skill:hover{
    opacity: 1;
    top:-5px;
}

#skill-selector div.skill span.subskills{
    position: absolute;
    bottom: 58px;
    right: 30px;
    color: #000000;
}


#skill-selector div.skill span.title{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 15px;
    color: #000000;
}