{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}O projektu{% endblock %}

{% block content%}

    <a href="http://www.fi.muni.cz/adaptivelearning/" target="_blank"><img class="right" src="{% static "core/imgs/al-logo.png" %}" alt="Adaptive Learning"/></a>

    <div class="medium-offset-1 medium-10">
    <div class="heading"><i class="fi-foot"></i><h1>O projektu</h1></div>

    <h4>Kdo za tím stojí</h4>

    <p>MatMat je vyvíjen na <a href="http://www.fi.muni.cz/" target="_blank">Fakultě informatiky Masarykovy univerzity</a>,
        konkrétně v rámci skupiny <a href="http://www.fi.muni.cz/adaptivelearning/" target="_blank">Adaptive Learning</a>.</p>

    <p>Mezi další projekty této skupiny patří:</p>
    <ul>
        <li><a href="http://tutor.fi.muni.cz" target="_blank">Problem Solving Tutor</a></li>
        <li><a href="http://slepemapy.cz" target="_blank">Slepé Mapy</a></li>
        <li><a href="http://www.umimecesky.cz" target="_blank">Umíme česky</a></li>
        <li><a href="http://www.autoskolachytre.cz/" target="_blank">Autoškola chytře</a></li>
        <li><a href="http://www.slepaanatomie.cz/" target="_blank">Slepá anatomie</a></li>
        <li><a href="http://www.ucimsecist.cz/" target="_blank">Učím se číst</a></li>
    </ul>

    <p>Na vývoji MatMatu se podílí především Jiří Řihák a Juraj Nižnan.</p>

    Náměty k rozvoji systému zasílejte na <a href="mailto:matmat-web@googlegroups.com">matmat-web@googlegroups.com</a>.

    <br/><br/>
    <h4>Soukromí</h4>
    <p>Data o odpovědích jsou ukládána a jsou využívána pro výběr vhodných otázek a pro výzkumné účely.
        Všechna tato data jsou zpracovávána anonymně.
        Přihlašovací údaje (Facebook, Google) jsou použity pouze pro určení identity při opakovaných návštěvách, jinak se s nimi nepracuje.
    </p>

    </div>

{% endblock %}