{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">

    <meta property="og:image" content="{{ DOMAIN }}{% static 'graphics/wizard/logo.png' %}"/>

    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="description" content="Inteligentní aplikace na procvičování základu matematiky (počítání, sčítání, odčítání, násobení, dělení)">
    <meta name="keywords" content="matematika, počítání, sčítání, odčítání, násobení, dělení, procvičování, základní škola, násobilka, malá násobilka, předškoláci, předškolní" />
    <title>{% block title %}Procvičování matematiky{% endblock %} - MatMat</title>
    <link rel="shortcut icon" href="{% static "core/icon.png" %}">

    {# styles and scripts #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {% if graphics == "wi" %}
        <link type="text/css" rel="stylesheet" href="{% static "dist/wizard/matmat.min.css" %}">
    {% else %}
        <link type="text/css" rel="stylesheet" href="{% static "dist/plain/matmat.min.css" %}">
    {% endif %}

    {% block extrastyles %}{% endblock %}


    <script src="{% static "dist/matmat.min.js" %}"></script>

    {% include "core/googleanalytics.html" %}
    {% block extrascripts %}{% endblock %}
</head>
<body ng-app="matmat">
<div id="wrapper">
    {% include "core/panel.html" %}

    <a href="#" data-reveal-id="feedback-modal" id="feedback">Napište nám</a>

    <div id="feedback-modal" class="reveal-modal" data-reveal ng-controller="Feedback">
        {% verbatim %}
            <div ng-show="msg" ng-cloak data-alert class="medium-8 medium-offset-2 alert-box text-center {{ msg_tag }}">
                {{ msg  }}
            </div>
        {% endverbatim %}
        <form ng-hide="sending" ng-submit="submit()">
            <h3>Napište nám</h3>
            <p>Narazili jste na chybu v aplikaci? Máte nápad na vylepšení? Nebo jakýkoliv jiný postřeh či komentář? Zajímá nás všechno, co nám chcete sdělit.</p>
            <textarea ng-required="true" rows="6" ng-model="feedback.text"></textarea>
            Vaše emailová adresa (nepovinné)
            <input name="email" type="text" value="@" ng-model="feedback.email" />
            <button type="submit"class="right radius">Odeslat</button>
        </form>
        <div class="text-center" ng-cloak ng-show="sending">{% include "core/spinner.html" %}</div>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="content-wrapper">
    <div id="content" class="row">
    {% if messages %}
        {% for message in messages %}
            <div data-alert class="alert-box text-center {{ message.tags }} {% if message.tags == "error" %}alert{% endif %}">
                {{ message | safe }}
                <a href="#" class="close">&times;</a>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    </div>
    </div>

    <div id="footer">
        <a target="_blank"  href="http://www.fi.muni.cz/">
            <img src="{% static "core/imgs/logo_fi_small.png" %}" alt="Fakulty Informatiky"/> &nbsp;&nbsp;&nbsp;
        </a>
        <a href="{% url "about" %}">
            <img src="{% static "core/imgs/al-logo-small.png" %}" alt="Adaptive Learning"/> &nbsp;&nbsp;&nbsp;
            O projektu</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" data-reveal-id="feedback-modal">Napište nám</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{% url "faq" %}" >FAQ</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        Vyzkoušejte také
            <a href="http://slepemapy.cz" target="_blank">Slepé Mapy</a>,
            <a href="http://www.umimecesky.cz" target="_blank">Umíme česky</a>,
            <a href="http://www.poznavackaprirody.cz/" target="_blank">Poznávačka Přírody</a>,
            <a href="http://anatom.cz/" target="_blank">Anatom</a>,
            <a href="http://zlomky-hrave.cz/" target="_blank">Zlomky hravě</a>
    </div>
</div>

<script>$(document).foundation();</script>
{% block postextrascripts %}{% endblock %}
</body>
</html>
