{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{% block title %}MatMat{% endblock %}</title>

    {# styles and scripts #}
    <link rel="stylesheet" href="{% static "foundation/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "foundation/css/foundation.min.css" %}">
    <link rel="stylesheet" href="{% static "core/style.css" %}">
    {% block extrastyles %}{% endblock %}


    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular/angular-cookies.min.js" %}"></script>
    <script src="{% static "core/scripts.js" %}"></script>
    {% include "core/googleanalytics.html" %}
    {% block extrascripts %}{% endblock %}
</head>
<body>

{% include "core/panel.html" %}

<div class="row">
{% block content %}
{% endblock %}
</div>

<script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
<script src="{% static "foundation/js/foundation.min.js" %}"></script>
<script>$(document).foundation();</script>
</body>
</html>