{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}Často kladené dotazy{% endblock %}

{% block content%}
    <style>
        #content {background-color: white; }
        body, p, li {
            font-size: 1rem;
        }
    </style>

    <div class="column large-10 large-offset-1">

        <h3>Často kladené dotazy</h3>

        <b>Jak jako učitel mohu snadno spravovat účty dětí ve třídě?</b>
        <p>
            Pokládáme za důležité, aby každé dítě mělo vlastní účet.
            Na druhou stranu je jasné, že není možné aby si mladší děti pamatovaly své přihlašovací údaje.
            Proto MatMat umožňuje učitelům (případně rodičům) spravovat pod svým jedním účtem účty všech svých dětí.
        </p>
        <p>
            Poté, co se registrujete, se můžete vpravo nahoře přepnout do <a href="{% url "supervisor_overview" %}">učitelského režimu</a> (ikonka <i class="fi-torsos-all"></i>).
            Zde lze v záložce <i>Přidat dítě</i> vytvořit účty pro děti (stačí zadat jméno).
            Pokud chcete, aby procvičovalo dítě, stačí jen pár kliknutí.
            Přihlaste se na svůj účet, MatMat vás automaticky přesměruje na stránku,
            kde už stačí jen kliknout na jméno dítěte a okamžitě se aktivuje jeho účet.
        </p>

        <ul class="clearing-thumbs auto-thumbs" data-clearing>
            <li><a class="th" href="{% static "img/FAQ/registrace.png" %}"><img src="{% static "img/FAQ/registrace.png" %}"></a></li>
            <li><a class="th" href="{% static "img/FAQ/pridat_dite.png" %}"><img src="{% static "img/FAQ/pridat_dite.png" %}"></a></li>
            <li><a class="th" href="{% static "img/FAQ/prihlasit_jako.png" %}"><img src="{% static "img/FAQ/prihlasit_jako.png" %}"></a></li>
            <li><a class="th" href="{% static "img/FAQ/prihlasene_dite.png" %}"><img src="{% static "img/FAQ/prihlasene_dite.png" %}"></a></li>
        </ul>

        <b>Proč mít pro každé dítě zvláštní účet?</b>
        <p>
            MatMat se učí o dětech z jejich odpovědí a vybírá jim otázky, které jsou pro ně vhodné.
            Pokud má dítě vlastní účet, procvičovaní s MatMatem je efektivnější.
            Navíc děti i jeho učitelé (rodiče) mohou sledovat aktuální dovednost a dlouhodobé zlepšovaní.
        </p>

        <b>Kde najdu přehled schopností svých dětí?</b>
        <p>
            V <a href="{% url "supervisor_overview" %}">učitelském režimu</a> v záložce <i>Přehled dětí</i>.
            Podrobnější informace o schopnosti každého dítěte (náhled schopností, jak ho vidí dítě),
            lze zobrazit kliknutím na jméno.
        </p>

        <ul class="clearing-thumbs auto-thumbs" data-clearing>
            <li><a class="th" href="{% static "img/FAQ/prehled.png" %}"><img src="{% static "img/FAQ/prehled.png" %}"></a></li>
        </ul>

        <b>Může dítě procvičovat samo doma pod svým účtem?</b>
        <p>
            Na účet dítěte vytvořený učitelem se nelze přímo přihlásit.
            Nicméně je možné účet dítěte sdílet s někým jiným (třeba rodičem).
            Stačí v <a href="{% url "supervisor_overview" %}">učitelském režimu</a> z nabídky pro dítě (šipka vpravo od jména) zvolit <i>zpřístupnit dítě jinému uživateli</i>.
            Pak stačí jen zadat email, na který MatMat pošle potřebné informace.
        </p>

        <ul class="clearing-thumbs auto-thumbs" data-clearing>
            <li><a class="th" href="{% static "img/FAQ/send_child.png" %}"><img src="{% static "img/FAQ/send_child.png" %}"></a></li>
            <li><a class="th" href="{% static "img/FAQ/send_child2.png" %}"><img src="{% static "img/FAQ/send_child2.png" %}"></a></li>
        </ul>

        <b>Co znamenají barvy v <i>Mých vědomostech</i>?</b>
        <p>
            Barva odpovídá odhadované schopnosti v dané oblasti. Zelená znamená umí, červená neumí.
            Barvě také odpovídá počet získaných diamantů (0 - 5).
            K tomuto odhadu se využívá sofistikovaný algoritmus,
            který pracuje jak s úspěšností dětí, tak obtížností jednotlivých příkladů a dalšími faktory.
        </p>

        <ul class="clearing-thumbs auto-thumbs" data-clearing>
            <li><a class="th" href="{% static "img/FAQ/vedomosti.png" %}"><img src="{% static "img/FAQ/vedomosti.png" %}"></a></li>
        </ul>

        <b>Chybí mi zde nějaký obsah nebo funkcionalita, co s tím?</b>
        <p>
            Buď můžete použít přímo tlačítko <a href="#" data-reveal-id="feedback-modal">Napište nám</a> vpravo na stránce,
            nebo napište na <a href="mailto:matmat-web@googlegroups.com">matmat-web@googlegroups.com</a>.
        </p>

        <b>Kdo za projektem stojí?</b>
        <p>
            MatMat je vyvíjen na <a href="http://www.fi.muni.cz/" target="_blank">Fakultě informatiky Masarykovy univerzity</a>,
            konkrétně v rámci skupiny <a href="http://www.fi.muni.cz/adaptivelearning/" target="_blank">Adaptive Learning</a>.
            Více informací můžete zjistit v sekci <a href="{% url "about" %}"> O projektu</a>.
        </p>

    </div>

{% endblock %}