{% extends "core/base.html" %}
{% load staticfiles %}

{% block content%}
        <div id="skill_selector">
    {% for skill in skills%}
        <a href="{% url "play" %}?skill={{ skill.pk }}">
        <div class="skill"
             style="background-image: url('{% static skill.get_image_name %}')">
            <span class="title">{{ skill.note }}</span>
            <span class="subskills" data-dropdown="subskills{{ skill.pk }}"  data-options="is_hover:false">Podoblasti &raquo;</span>
        </div></a>

        <ul id="subskills{{ skill.pk }}" class="f-dropdown" data-dropdown-content>
            {% for subskill in skill.children.all %}
                <li><a href="{% url "play" %}?skill={{ subskill.pk }}">{{ subskill.note }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    </div>

    <hr/>


{% endblock %}