{% load staticfiles %}
{% load i18n core_tags %}
<div class="contain-to-grid" role="navigation">
    <nav class="top-bar" data-topbar data-options="back_text: Zpět">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{% url "home" %}">MatMat</a></h1>
            </li>
        </ul>
        <div class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></div>

        <section class="top-bar-section">
        <ul class="left">
            <li>
                <a href="{% url "my_skills" %}">Moje vědomosti</a>
            </li>
            <li>
                <a href="{% url "my_stats" %}">Moje statistiky</a>
            </li>
            {% if user.is_staff %}
                <li>
                    <a href="{% url "admin-overview" %}">Administrace</a>
                </li>
            {% endif %}
        </ul>

        <ul class="right">
{#            <li class="active"><a href="#">Right Button Active</a></li>#}
            {% if not user.profile.is_child %}
                <li><a style="height: 45px" href="{% url "supervisor_overview" %}"><i style="font-size: 1.8em;" class="fi-torsos-all"></i></a></li>
            {% endif %}
            <li class="has-dropdown">
                {% if user|is_auth %}
                    <a href="#"> {{ user.first_name }} {{ user.last_name }} </a>
                    <ul class="dropdown">
                        {% if not user.profile.is_child %}
                            <li><a href="{% url "supervisor_overview" %}">Učitelský - rodičovský režim</a></li>
                        {% endif %}
                        <li><a href="{% url "logout" %}">Odhlásit se</a></li>
                    </ul>
                {% else %}
                    <a href="#"> Přihlášení </a>
                    <ul class="dropdown">
                    <li>
                        <a class="login-provider" id="login-google"
                           href="javascript:openPopup('{% url "socialauth_begin" "google-oauth2" %}', {% url 'login_popup_close' %})">
                            <img width="24" height="24" class="provider-signup-img" src="{% static "core/imgs/google-icon.png" %}">
                            <span class="provider-signup-text">přes <b>Google</b></span>
                        </a>
                    </li>
                    <li>
                        <a class="login-provider" id="login-facebook"
                           href="javascript:openPopup('{% url "socialauth_begin" "facebook" %}', {% url 'login_popup_close' %})">
                            <img width="24" height="24" class="provider-signup-img" src="{% static "core/imgs/facebook-icon.png" %}">
                            <span class="provider-signup-text">přes <b>Facebook</b></span>
                        </a>
                    </li>
                    </ul>
                {% endif %}
            </li>
        </ul>

{#        <ul class="left">#}
{#            <li><a href="#">Left Nav Button</a></li>#}
{#        </ul>#}
    </section>
    </nav>
</div>
