{% load staticfiles %}
{% load i18n core_tags %}
<div class="contain-to-grid" role="navigation">
    <nav class="top-bar" data-topbar data-options="back_text: Zpět">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{% url "home" %}">MatMat</a></h1>
            </li>
        </ul>
        <div class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></div>

        <section class="top-bar-section">
        <ul class="left">
            <li>
                <a href="{% url "my_skills" %}">Moje vědomosti</a>
            </li>
            <li>
                <a href="{% url "my_stats" %}">Moje statistiky</a>
            </li>
            {% if user.is_staff %}
                <li>
                    <a href="{% url "admin-overview" %}">Administrace</a>
                </li>
            {% endif %}
        </ul>

        <ul class="right">
{#            <li class="active"><a href="#">Right Button Active</a></li>#}
            {% if not user.profile.is_child and user|is_auth %}
                <li><a style="height: 45px" href="{% url "supervisor_overview" %}"><i style="font-size: 1.8em;" class="fi-torsos-all"></i></a></li>
            {% endif %}
            <li class="has-dropdown">
                {% if user|is_auth %}
                    <a href="#"> {{ user.first_name }} {{ user.last_name }} </a>
                    <ul class="dropdown">
                        {% if not user.profile.is_child %}
                            <li><a href="{% url "supervisor_overview" %}">Učitelský - rodičovský režim</a></li>
                        {% endif %}
                        <li><a href="{% url "logout" %}">Odhlásit se</a></li>
                    </ul>
                {% else %}
                    <a href="#"> Přihlášení </a>
                    <ul class="dropdown">
                    <li>
                        <a class="login-provider" id="login-google"
                           href="javascript:openPopup('{% url "socialauth_begin" "google-oauth2" %}', {% url 'login_popup_close' %})">
                            <img width="24" height="24" class="provider-signup-img" src="{% static "core/imgs/google-icon.png" %}">
                            <span class="provider-signup-text">přes <b>Google</b></span>
                        </a>
                    </li>
                    <li>
                        <a class="login-provider" id="login-facebook"
                           href="javascript:openPopup('{% url "socialauth_begin" "facebook" %}', {% url 'login_popup_close' %})">
                            <img width="24" height="24" class="provider-signup-img" src="{% static "core/imgs/facebook-icon.png" %}">
                            <span class="provider-signup-text">přes <b>Facebook</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </a>
                    </li>
                    <li>
                        <a class="login-provider" href="#" id="login-email" data-reveal-id="feedback-modal">
                            <i class="fi-at-sign"></i>
                            <span class="provider-signup-text">přes <b>jméno</b></span>
                        </a>
                    </li>
                    <li>
                        <a class="login-provider" href="{% url "lazysignup_convert" %}" id="login-email">
                            <i class="fi-arrow-up"></i>
                            <span class="provider-signup-text"><b>registrovat</b></span>
                        </a>
                    </li>
                    </ul>
                {% endif %}
            </li>
        </ul>

{#        <ul class="left">#}
{#            <li><a href="#">Left Nav Button</a></li>#}
{#        </ul>#}
    </section>
    </nav>
</div>


<div id="feedback-modal" class="reveal-modal small" data-reveal ng-controller="singin">
    <a class="close-reveal-modal">&#215;</a><br/>
    <div class="row collapse">
        <div class="columns medium-12 large-5">
            <input ng-model="username" type="text" placeholder="jméno" name="username" />
        </div>
        <div class="columns medium-8 large-5">
            <input ng-model="password" class="columns medium-5" type="password" placeholder="heslo" name="password" />
        </div>
        <div class="columns medium-4 large-2">
            <a href="#" ng-click="submit()" class="button postfix">Přihlásit</a>
        </div>
    </div>
    {% verbatim %}
    <p class="text-center" ng-class="msg_color">
        {{ msg }}
    </p>
    {% endverbatim %}
    <p class="right"><a href="{% url "lazysignup_convert" %}">registrovat</a></p>
</div>