{% extends "core/base.html" %}
{% load staticfiles %}

{% block extrascripts %}
    {% include "questions/template_urls.html" %}
    <script src="{% static "simulators/keyboard-wizard.js" %}"></script>
    <script src="{% static "simulators/roller-wizard.js" %}"></script>
    <script src="{% static "simulators/counter-wizard.js" %}"></script>
    <script src="{% static "graphics/wizard/wizard.js" %}"></script>
    <script>
    app.controller("playground", function($scope, $cookieStore, SimulatorGlobal, $http, $compile, $timeout){
        $scope.q = "???";
        $scope.s = null;

        $scope.progress = [0, 1, 2 , -1, 0, 1, 0, 0, 0, 0]
    });
    </script>
{% endblock %}

{% block content%}
    {% verbatim %}
    <div ng-controller="playground">
        <input type="checkbox" ng-model="close"/>
        <rollerwizard  question="q" closed="close"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>nějaký obsah<br/><br/><br/><br/><br/><br/></rollerwizard>

        <keyboardwizard></keyboardwizard>
        <wizard class="green" say="s"></wizard>
        <input type="text" ng-model="s"/>

        <counterwizard progress="progress"></counterwizard>
    </div>
    {% endverbatim %}
{% endblock %}