{% extends "core/base.html" %}
{% load staticfiles %}

{% block extrascripts %}
    {% include "questions/template_urls.html" %}
    <script src="{% static "simulators/keyboard-wizard.js" %}"></script>
    <script src="{% static "simulators/roller-wizard.js" %}"></script>
    <script src="{% static "simulators/counter-wizard.js" %}"></script>
    <script src="{% static "simulators/directives.js" %}"></script>
    <script src="{% static "graphics/wizard/wizard.js" %}"></script>
    <script>
    app.controller("playground", function($scope, $cookieStore, SimulatorGlobal, $http, $compile, $timeout){
        $scope.q = "Kolik je to čtverečků?";
        $scope.s = null;
        $scope.n= 27;

        SimulatorGlobal.keyboard = "full";

        $scope.progress = [0, 1, 2 , -1, 0, 1, 0, 0, 0, 0];

        $scope.field = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 0, 0, 0, 0, 0], [0, 0, 0, 1, 1, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 1, 0, 0], [0, 0, 0, 0, 0, 0, 0, 1, 1, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]];


        $scope.$watch("n", function(n, o){
            $scope.close = true;
            $timeout(function () {
                $scope.close = false;
            },0);
        });
    });
    </script>
{% endblock %}

{% block content%}
    {% verbatim %}
    <div ng-controller="playground">
        <input type="checkbox" ng-model="close"/>
        <rollerwizard  question="q" closed="close">
            <cubes size="10" count="n"></cubes>

            <br/><br/>
            <div class="objects">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
        </rollerwizard>

        <keyboardwizard closed="close"></keyboardwizard>
        <wizard class="green" say="s"></wizard>
        <input type="number" ng-model="n" value="23" />
        <input type="text" ng-model="s"/>

        <counterwizard progress="progress"></counterwizard>

        <cubes size="15" height="5" width="5"></cubes>
        <cubes field="field"></cubes>
    </div>

    {% endverbatim %}
{% endblock %}