<div class="objects" ng-show="count" ng-class="{selectable: selectable}" ng-mouseleave="hover(0)">
    <div ng-repeat="i in repeater(count) track by $index" ng-mouseenter="hover($index + 1)" ng-click="select($index + 1)"></div>
</div>
<div class="block-objects" ng-show="height && width">
    <div ng-repeat="i in repeater(height) track by $index">
        <div ng-repeat="j in repeater(width) track by $index"></div>
    </div>
</div>
<div class="block-objects" ng-show="field">
    <div ng-repeat="row in field track by $index">
        <div ng-repeat="cube in row track by $index" ng-class="{hide: cube == 0}"></div>
    </div>
</div>