<h2>{{ data.question }} = {{ answer }}
    <span ng-hide="okHidden">&#x2713;</span>
    <span ng-hide="nokHidden">&#x2717;</span>
</h2>
<div class="row collapse">
    <form ng-submit="check_answer()">
        <div class="small-5 small-centered columns">
            <input id="simulator-input" class="small-8 columns " type="text" ng-change="change()" ng-model="answer" autocomplete="off" placeholder="Zadej svoji odpověď"/>
        </div>
        <div class="small-1 small-centered columns">
            <input class="button postfix" type="submit" value="OK" />
        </div>
    </form>
</div>
<style>
.numpad {
    width: 80px;
}
</style>
<div class="row collapse">
    <input type="button" class="button numpad" value="1" ng-click="add_text('1')"></input>
    <input type="button" class="button numpad" value="2" ng-click="add_text('2')"></input>
    <input type="button" class="button numpad" value="3" ng-click="add_text('3')"></input>
</div>
<div class="row collapse">
    <input type="button" class="button numpad" value="4" ng-click="add_text('4')"></input>
    <input type="button" class="button numpad" value="5" ng-click="add_text('5')"></input>
    <input type="button" class="button numpad" value="6" ng-click="add_text('6')"></input>
</div>
<div class="row collapse">
    <input type="button" class="button numpad" value="7" ng-click="add_text('7')"></input>
    <input type="button" class="button numpad" value="8" ng-click="add_text('8')"></input>
    <input type="button" class="button numpad" value="9" ng-click="add_text('9')"></input>
</div>
<div class="row collapse">
    <input type="button" class="button numpad" value="." ng-click="add_text('.')"></input>
    <input type="button" class="button numpad" value="0" ng-click="add_text('0')"></input>
    <input type="button" class="button numpad" value="&larr;" ng-click="backspace()"></input>
</div>
