.animate-show-drop.ng-hide-add,
.animate-show-drop.ng-hide-remove,
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
opacity:0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
opacity:1;
}

.animate-show-drop{
    overflow: hidden;
}
.animate-show-drop.ng-hide-add.ng-hide-add-active,
.animate-show-drop.ng-hide-remove {
    max-height: 0;
    opacity: 0;
}

.animate-show-drop.ng-hide-add,
.animate-show-drop.ng-hide-remove.ng-hide-remove-active {
    max-height: 300px;
    opacity: 1;
}