body, p, li{
    font-size: 1.2rem;
}

#wrapper{
    position: relative;
    min-height: 100%;
}

h1{
    font-size: 2.3rem;
}

#content{
    padding: 5px;
    padding-bottom: 50px;
    min-width: 960px;
}

#footer{
    background-color: #333;
    font-size: 0.8em;
    color: #eee;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    text-align: center;
}

/* Login providers*/

.login-provider {
    transition: box-shadow 0.25s, border-color 0.25s, background-color 0.25s;
}

.login-provider:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#login-google{
    background: #2CAFE2 linear-gradient(to bottom, #2CAFE2, #1C9CCE);
}
#login-google:hover{
    background: #2ec9fe none;
}

#login-facebook{
    background: #3B5998 linear-gradient(to bottom, #406298, #3B5998);
}
#login-facebook:hover{
    background: #4476bb none;
}

#login-email i{
    font-size: 1.4rem;
    position: absolute;
}
#login-email span{
    margin-left: 27px;
}
#login-email:hover{
    background: #555 none;
}

#content{
    margin-top: 20px;
}

/* Simulators */

.result{
    text-align: center;
    height: 2.5em;
}

.result span{
    font-size: 2.5em;
}
.result span span{
    font-size: 1em;
}
.result p{
    margin-top: -20px;
    color: #999;
    font-weight: bold;
}

.result p:hover{
    color: black;
}

.spinner{
    display: block;
    margin: 150px auto auto;
}


.heading h1{
    padding-top: 0.2em;
    margin-bottom: 0.7em;
    font-size: 2rem;
}

.paragraph-with-icon{
    clear: both;
    margin-bottom: 50px;
}

.paragraph-with-icon h3{
    padding-top: 0.5em;
}

.paragraph-with-icon i, .heading i{
    font-size: 3em;
    float: left;
    margin: -0.2em 20px -0.5em;
}

.skill-tabs{
    align-content: center;
    text-align: center;
}

.skill-tabs {
    display: inline-block;
    user-select: none;
}

.skill-tabs dd a, .skill-tabs dd a:hover, .skill-tabs dd.active a{
    width: 150px;
    height: 80px;
    margin: 5px;
    margin-bottom: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 0;
    border: solid #000000 1px;
    font-weight: bold;
    user-select: none;
}

hr.skill-hr{
    margin-top: -9px;
    border-color: black;
}

a:active, a:focus { outline-style: none; -moz-outline-style:none; }


.skill-tabs dd a{
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.5);
}

.skill-tabs dd a:hover{
    box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.3);
}

.skill-tabs dd.active a{
    box-shadow:  5px -5px 5px rgba(0, 0, 0, 0);
    border-bottom: solid 1px white;
}

.skill-tabs dd div.gradient{ display: none; }
.skill-tabs dd.active div.gradient{
    display: block;
    position: absolute;
    height: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 6px;
    margin-right: 6px;
    background: linear-gradient(rgba(255,255,255,0), white);
}


table.user_skills td{
    border: 1px solid white;
    text-align: center;
    display: inline-block;
    width: 60px;
    position: relative;
}
table.user_skills td span{
    position: absolute;
    font-size: 0.6em;
    color: grey;
    top: 0;
    right: 2px;
}

.progress{
    height: 40px;
}
.progress .meter{
    padding-top: 5px;
    text-align: right;
    padding-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

/* Table - alternating rows not colored */
table tr:nth-of-type(2n) {
    background: none;
}


/* Numberline */
.numberline-point rect{
    opacity: 0;
    cursor: pointer;
}
.numberline-point circle.shadow{
    fill: darkgreen;
    opacity: 0;
    transition: opacity 0.25s,
}
.numberline-point circle.point{ transition: fill 0.25s}
.numberline-point:hover circle.shadow{ opacity: 0.7 }
.numberline-point.selected circle.shadow{ opacity: 0.7; fill: blue; }
.numberline-point.selected circle.point{ fill: blue }
.numberline-point.selected:hover circle.shadow{ opacity: 1; }
.numberline-point:hover circle.point{ fill: black; }

/* Pairing */
.pairing-button {
    width: 150px;
    height: 150px;
    font-size: 2.5em;
    border-radius: 3px;
    border: none;
    margin: 1px;
}
.pairing-active, .pairing-wactive, .pairing-wwactive {
    color: #1f77b4;
    background: #aec7e8;
}
.pairing-selected{
    color: #9467bd;
    background: #c5b0d5;
}
.pairing-off {
    color: #2ca02c;
    background: #98df8a;
    opacity: 0;
}
.pairing-off-add {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.pairing-wactive-add, .pairing-wwactive-add {
    -webkit-animation:1.5s pairing_wrong_animation;
    -moz-animation:1.5s pairing_wrong_animation;
    -o-animation:1.5s pairing_wrong_animation;
    animation:1.5s pairing_wrong_animation;
}
@keyframes pairing_wrong_animation {
    from { color: #d62728; background: #ff9896; }
    to { color: #1f77b4; background: #aec7e8; }
}
@-webkit-keyframes pairing_wrong_animation {
    from { color: #d62728; background: #ff9896; }
    to { color: #1f77b4; background: #aec7e8; }
}
@-moz-keyframes pairing_wrong_animation {
    from { color: #d62728; background: #ff9896; }
    to { color: #1f77b4; background: #aec7e8; }
}
@-o-keyframes pairing_wrong_animation {
    from { color: #d62728; background: #ff9896; }
    to { color: #1f77b4; background: #aec7e8; }
}


/* Keyboard */
p.keyboard-text{
    text-align: right;
    color: grey;
    margin-bottom: 0;
    margin-right: 10px;
}

.numpad {
    border-radius: 3px;
    padding: 10px;
    font-size: 16pt;
    margin-bottom: 0;
    border: solid white 1px;
    display: block;
}

#keyboard .choices input{
    display: inline-block;
}

/* Colors */
.red{ color: darkred;}
.green{ color: darkgreen;}


.dropdown_arrow{
    padding-right: 10px !important;
}

.switch span{
    font-size: 1.2em;
    margin-left: 10px;
    top: -5px;
    position: relative;
}

#feedback{
    right: -50px;
    position: fixed;
    top: 250px;
    z-index: 999;

    background: #333;
    border-radius: 6px 6px 0 0;
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    transform: rotate(-90deg);
    width: 140px;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
