body, p, li{
    font-size: 1.2rem;
}

#wrapper{
    position: relative;
    min-height: 100%;
}

h1{
    font-size: 2.3rem;
}

#content{
    padding: 5px;
    padding-bottom: 50px;
}

#footer{
    background-color: #333;
    font-size: 0.8em;
    color: #eee;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    text-align: center;
}

/* Login providers*/

.login-provider {
    transition: box-shadow 0.25s, border-color 0.25s, background-color 0.25s;
}

.login-provider:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#login-google{
    background: #2CAFE2 linear-gradient(to bottom, #2CAFE2, #1C9CCE);
}
#login-google:hover{
    background: #2ec9fe none;
}

#login-facebook{
    background: #3B5998 linear-gradient(to bottom, #406298, #3B5998);
}
#login-facebook:hover{
    background: #4476bb none;
}

#login-email i{
    font-size: 1.4rem;
    position: absolute;
}
#login-email span{
    margin-left: 27px;
}
#login-email:hover{
    background: #555 none;
}

#content{
    margin-top: 20px;
}

/* Simulators */

#playground{
    text-align: center;
    transition: background-color box-shadow cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

#playground h2{
    font-size: 4em;
}

#playground.solved_correctly{
    background-color: rgba(11, 87, 0, 0.1);
    box-shadow: 0 0 40px rgba(11, 87, 0, 0.3);
}

#playground.solved_incorrectly{
    background-color: rgba(158, 20, 9, 0.1);
    box-shadow: 0 0 40px rgba(158, 20, 9, 0.3);
}

.result{
    text-align: center;
    height: 2.5em;
}

.result span{
    font-size: 2.5em;
}
.result span span{
    font-size: 1em;
}
.result p{
    margin-top: -20px;
    color: #999;
    font-weight: bold;
}

.result p:hover{
    color: black;
}

.spinner{
    display: block;
    margin: 150px auto auto;
}


/* Skill selection*/
#skill_selector{
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#skill_selector div.skill{
    height: 200px;
    width: 200px;
    border: solid #000000 1px;
    margin: 5px;
    padding: 15px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: gray;
    background: center center no-repeat;
    position: relative;
}

#skill_selector div.skill:hover{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    color: #000000;
}

#skill_selector div.skill span.subskills{
    position: absolute;
    bottom: 5px;
    right: 50px;
    color: #2BA6CB;
}


#skill_selector div.skill span.title{
    font-size: 1.3em;
    font-weight: bold;
    color: #000000;
}

.heading h1{
    padding-top: 0.2em;
    margin-bottom: 0.7em;
    font-size: 2rem;
}

.paragraph-with-icon{
    clear: both;
    margin-bottom: 50px;
}

.paragraph-with-icon h3{
    padding-top: 0.5em;
}

.paragraph-with-icon i, .heading i{
    font-size: 3em;
    float: left;
    margin: -0.2em 20px -0.5em;
}

.skill-tabs{
    align-content: center;
    text-align: center;
}

.skill-tabs {
    display: inline-block;
}

.skill-tabs dd a, .skill-tabs dd a:hover, .skill-tabs dd.active a{
    background: center bottom no-repeat;
    background-size: 50%;
    width: 150px;
    height: 80px;
    margin: 5px;
    border-radius: 7px;
    padding: 0;
    border: solid #000000 1px;
    font-weight: bold;
}


.skill-tabs dd a{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.skill-tabs dd a:hover{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.skill-tabs dd.active a{
    box-shadow: 0 0 10px rgba(25, 167, 174, 0.88);
}

table.user_skills td{
    border: 1px solid white;
    text-align: center;
    display: inline-block;
    width: 60px;
    position: relative;
}
table.user_skills td span{
    position: absolute;
    font-size: 0.6em;
    color: grey;
    top: 0;
    right: 2px;
}

.progress{
    height: 40px;
}
.progress .meter{
    padding-top: 5px;
    text-align: right;
    padding-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

/* Table - alternating rows not colored */
table tr:nth-of-type(2n) {
    background: none;
}


/* Numberline */
.numberline-point rect{
    opacity: 0;
    cursor: pointer;
}
.numberline-point circle.shadow{
    fill: darkgreen;
    opacity: 0;
    transition: opacity 0.25s,
}
.numberline-point circle.point{ transition: fill 0.25s}
.numberline-point:hover circle.shadow{ opacity: 0.7 }
.numberline-point.selected circle.shadow{ opacity: 0.7; fill: blue; }
.numberline-point.selected circle.point{ fill: blue }
.numberline-point.selected:hover circle.shadow{ opacity: 1; }
.numberline-point:hover circle.point{ fill: black; }

/* Pairing */
.pairing-button {
    width: 150px;
    height: 150px;
    font-size: 2em;
    border-radius: 3px;
    border: none;
    margin: 1px;
}
.pairing-active, .pairing-wactive, .pairing-wwactive {
    color: #1f77b4;
    background: #aec7e8;
}
.pairing-selected{
    color: #9467bd;
    background: #c5b0d5;
}
.pairing-off {
    color: #2ca02c;
    background: #98df8a;
    opacity: 0;
}
.pairing-off-add {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.pairing-wactive-add, .pairing-wwactive-add {
    -webkit-animation:1.5s pairing_wrong_animation;
    -moz-animation:1.5s pairing_wrong_animation;
    -o-animation:1.5s pairing_wrong_animation;
    animation:1.5s pairing_wrong_animation;
}
@keyframes pairing_wrong_animation {
    from { color: #d62728; background: #ff9896; }
    to { color: #1f77b4; background: #aec7e8; }
}
@-webkit-keyframes pairing_wrong_animation {
    from { color: #d62728; background: #ff9896; }
    to { color: #1f77b4; background: #aec7e8; }
}
@-moz-keyframes pairing_wrong_animation {
    from { color: #d62728; background: #ff9896; }
    to { color: #1f77b4; background: #aec7e8; }
}
@-o-keyframes pairing_wrong_animation {
    from { color: #d62728; background: #ff9896; }
    to { color: #1f77b4; background: #aec7e8; }
}

/* moving */
.moving {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border: none;
    margin: 1px;
}
.moving.base {
    color: #1f77b4;
    background: #aec7e8;
}
.moving.selected{
    color: #9467bd;
    background: #c5b0d5;
}
.moving.correct {
    color: #2ca02c;
    background: #98df8a;
}
.moving.incorrect {
    color: #d62728; 
    background: #ff9896; 
}

/* Keyboard */
p.keyboard-text{
    text-align: right;
    color: grey;
    margin-bottom: 0;
    margin-right: 10px;
}

.numpad {
    border-radius: 3px;
    padding: 10px;
    font-size: 16pt;
    margin-bottom: 0;
    border: solid white 1px;
    display: block;
}

#keyboard .choices input{
    display: inline-block;
}

/* Colors */
.red{ color: darkred;}
.green{ color: darkgreen;}


.dropdown_arrow{
    padding-right: 10px !important;
}

.tick{
    background-image: url("imgs/tick.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 70%;
}

.switch span{
    font-size: 1.2em;
    margin-left: 10px;
    top: -5px;
    position: relative;
}

.cubes{
    height: 150px;
    border: solid lightgrey 1px;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.cubes div{
    position: absolute;
    height: 30px;
    width: 30px;
    border: solid #000000 1px;
}

#feedback{
    right: -50px;
    position: fixed;
    top: 250px;
    z-index: 999;

    background: #333;
    border-radius: 6px 6px 0 0;
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    transform: rotate(-90deg);
    width: 140px;
}
