.login-provider {
    transition: box-shadow 0.25s, border-color 0.25s, background-color 0.25s;
}

.login-provider:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#login-google{
    background: #2CAFE2 linear-gradient(to bottom, #2CAFE2, #1C9CCE);
}
#login-google:hover{
    background: #2ec9fe none;
}

#login-facebook{
    background: #3B5998 linear-gradient(to bottom, #406298, #3B5998);
}
#login-facebook:hover{
    background: #4476bb none;
}

#content{
    margin-top: 20px;
}

#playground{
     text-align: center
}

.spinner{
    display: block;
    margin: 150px auto auto;
}

.numpad {
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 16pt;
}

.numpadrow {
    margin: 4px;
    height: 50px;
}


/* Skill selection*/
#skill_selector{
    text-align: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#skill_selector div.skill{
    height: 200px;
    width: 200px;
    border: solid #000000 1px;
    margin: 5px;
    padding: 15px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: gray;
    background: center center no-repeat;
    position: relative;
}

#skill_selector div.skill:hover{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    color: #000000;
}

#skill_selector div.skill span.subskills{
    position: absolute;
    bottom: 10px;
    right: 50px;
    color: #2BA6CB;
}


#skill_selector div.skill span.title{
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.skill-tabs{
    align-content: center;
    text-align: center;
}

.skill-tabs {
    display: inline-block;
}

.skill-tabs dd a, .skill-tabs dd a:hover, .skill-tabs dd.active a{
    background: center bottom no-repeat;
    background-size: 50%;
    width: 150px;
    height: 80px;
    margin: 5px;
    border-radius: 7px;
    padding: 0;
    border: solid #000000 1px;
    font-weight: bold;
}


.skill-tabs dd a{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.skill-tabs dd a:hover{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.skill-tabs dd.active a{
    background-color: rgba(52, 183, 255, 0.37);
}

/* Table - alternating rows not colored */
table tr:nth-of-type(2n) {
    background: none;
}
