{% extends "core/base.html" %}
{% load staticfiles %}

{% block extrascripts %}
    <script src="{% static "simulators/loader.js" %}"></script>
    <script src="{% static "simulators/directives.js" %}"></script>
    {% for simulator in simulators %}
        <script src="{% static "simulators/" %}{{ simulator }}/controller.js"></script>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="row collapse" ng-controller="Loader">
        <div class="medium-10 columns">
            <div ng-show="!question.hide" class="animate-show">
                <div class="result">
                    &nbsp;
                    <span class="green" ng-cloak ng-show="solved=='solved_correctly'">Správně</span>
                    <span class="red" ng-cloak ng-show="solved=='solved_incorrectly'">Špatně</span>
                </div>

                <div ng-class="solved" id="playground"></div>
            </div>

            <div ng-show="loading" class="animate-show">
                <div></div><img class="spinner" src="{% static "img/spinner.gif" %}" />
            </div>
        </div>


        <div class="medium-2 columns">
            {% verbatim %}
            <div class="row collapse">
                <div class="small-centered small-5 medium-12 medium-uncentered large-5 columns">
                    <input class="text-center" style="margin: 0;" type="text" value="{{ counter.current }} z {{ counter.total }}" disabled  />
                </div>
                <div class="small-centered small-5 medium-12 medium-uncentered large-7 columns">
                    <input class="button postfix" type="button" ng-click="skip()" value="Přeskočit" />
                </div>
            </div>
            <keyboard />
            {% endverbatim %}
        </div>
    </div>
{% endblock %}
