{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}{{ skill.note }}{% endblock %}

{% block extrascripts %}
    <script src="{% static "simulators/loader.js" %}"></script>
    <script src="{% static "simulators/directives.js" %}"></script>
    {% if user.profile.graphics == "wi" %}
        <script src="{% static "simulators/keyboard-wizard.js" %}"></script>
        <script src="{% static "simulators/roller-wizard.js" %}"></script>
    {% else %}
    {% endif %}
    {% for simulator in simulators %}
        <script src="{% static "simulators/" %}{{ simulator }}/controller.js"></script>
    {% endfor %}
    <script>
        var skill = {{ skill.pk }};
        var device = "{{ device }}";
        var simulators = [
            {% for simulator in simulators %}
                {
                pk: {{ simulator.pk }},
                namee: "{{ simulator.name }}",
                note: "{{ simulator.note }}"},
            {% endfor %}
        ]
    </script>
    {% include "questions/template_urls.html" %}
{% endblock %}

{% block content %}
<div class="row collapse" ng-controller="Loader">
    {% if user.profile.graphics == "wi" %}
        {% verbatim %}
        {{ loading }}
        <rollerwizard closed="loading">
            <div id="playground"></div>
        </rollerwizard>
        <keyboardwizard></keyboardwizard>
        {% endverbatim %}
    {% else %}
        {% verbatim %}
            <div class="show-for-small-only">
                <a href="#" data-reveal-id="simulator-selector" class="radius button right">Typy příkladů</a>
            </div>
            <div class="text-center show-for-small-only">{{ counter.current }} z {{ counter.total }}</div>
            <div class="medium-10 columns">
                <div ng-show="!question.hide" class="animate-show">
                    <div class="result">
                        &nbsp;
                        <span class="green" ng-cloak ng-show="solved=='solved_correctly'">Správně<span ng-show="fast_solution"> a rychle</span></span>
                        <span class="red" ng-cloak ng-show="solved=='solved_incorrectly'">Špatně</span>
                        <p ng-cloak ng-hide="solved">{{ question_description.top }}</p>
                    </div>

                    <div ng-class="solved" id="playground"></div>
                </div>
        {% endverbatim %}
                <div ng-show="loading" ng-cloak class="">
                    <div></div><img class="spinner" src="{% static "img/spinner.gif" %}" />
                </div>

                <keyboard />
            </div>

        {% verbatim %}
            <div class="medium-2 columns">
                <div class="row collapse show-for-medium-up">
                    <div class="small-centered small-5 medium-12 medium-uncentered large-5 columns">
                        <input class="text-center" style="margin: 0;" type="text" value="{{ counter.current }} z {{ counter.total }}" disabled  />
                    </div>
                    <div class="small-centered small-5 medium-12 medium-uncentered large-7 columns">
                        <input class="button postfix" type="button" ng-click="skip()" value="Nevím" />
                    </div>
                </div>
                <div class="show-for-medium-up">
                    <a href="#" data-reveal-id="simulator-selector" class="radius button">Typy příkladů</a>
                </div>
            </div>
        {% endverbatim %}
    {% endif %}
</div>

<div id="simulator-selector" class="reveal-modal medium" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <h3 class="text-center">Výběr typů úloh</h3>
    <simulatorselector></simulatorselector>
</div>

{% endblock %}
