{% extends "core/base.html" %}
{% load staticfiles %}


{% block content %}
    <form action="{% url "questions.views.simulator_test" %} ">
        {{ form.as_p }}
        <input type="submit" value="Vybrat"/>
    </form>

    {% if question or own_question%}
        <p>Selected question: {% if own_question %}{{ own_question }}{% else %}{{ question }}{% endif %}</p>
        <hr/>
        <div class="row" ng-init="
                    test=true;
                    {% if question %}question_pk={{ question.pk }}{% endif %};
                    {% if own_question %}own_question='{{ own_question }}'{% endif %};
                    simulator='{{ simulator }}';
                    ">
            <div ng-controller="Loader" ng-show="!question.hide" class="animate-show medium-10 columns">
                <div class="result" >
                    &nbsp;
                    <span class="green" ng-cloak ng-show="solved=='solved_correctly'">Správně</span>
                    <span class="red" ng-cloak ng-show="solved=='solved_incorrectly'">Špatně</span>
                </div>

                <div ng-class="solved" id="playground"></div>
            </div>

            <div class="medium-2 columns">
                {% verbatim %}
                <div class="row collapse">
                    <div class="small-centered small-5 medium-12 medium-uncentered large-5 columns">
                        <input class="text-center" style="margin: 0;" type="text" value="{{ counter.current }} z {{ counter.total }}" disabled  />
                    </div>
                    <div class="small-centered small-5 medium-12 medium-uncentered large-7 columns">
                        <input class="button postfix" type="button" ng-click="skip()" value="Přeskočit" />
                    </div>
                </div>
                <keyboard />
                {% endverbatim %}
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block extrascripts %}
    <script src="{% static "simulators/loader.js" %}"></script>
    {% for simulator in simulators %}
        <script src="{% static "simulators/" %}{{ simulator }}/controller.js"></script>
    {% endfor %}
{% endblock %}