{% extends "core/base.html" %}
{% load staticfiles %}


{% block content %}
    <form action="{% url "questions.views.simulator_test" %} ">
        {{ form.as_p }}
        <input type="submit" value="Vybrat"/>
    </form>

    {% if question or own_question%}
        <p>Selected question: {% if own_question %}{{ own_question }}{% else %}{{ question }}{% endif %}</p>
        <hr/>
        <div class="row collapse" ng-init="
                    test=true;
                    {% if question %}question_pk={{ question.pk }}{% endif %};
                    {% if own_question %}own_question='{{ own_question }}'{% endif %};
                    simulator='{{ simulator }}';
                    ">
            <div ng-controller="Loader">
                {% verbatim %}
                <div ng-show="!question.hide" class="animate-show medium-10 columns">
                    <div class="text-center show-for-small-only">{{ counter.current }} z {{ counter.total }}</div>
                    <div class="result">
                        &nbsp;
                        <span class="green" ng-cloak ng-show="solved=='solved_correctly'">Správně<span ng-show="fast_solution"> a rychle</span></span>
                        <span class="red" ng-cloak ng-show="solved=='solved_incorrectly'">Špatně</span>
                        <p ng-cloak ng-hide="solved">{{ question_description.top }}</p>
                    </div>

                    <div ng-class="solved" id="playground"></div>

                    <keyboard />
                </div>

                <div class="medium-2 columns">
                    <div class="row collapse show-for-medium-up">
                        <div class="small-centered small-5 medium-12 medium-uncentered large-5 columns">
                            <input class="text-center" style="margin: 0;" type="text" value="{{ counter.current }} z {{ counter.total }}" disabled  />
                        </div>
                        <div class="small-centered small-5 medium-12 medium-uncentered large-7 columns">
                            <input class="button postfix" type="button" ng-click="skip()" value="Nevím" />
                        </div>
                    </div>
                </div>
                {% endverbatim %}
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block extrascripts %}
    <script src="{% static "simulators/loader.js" %}"></script>
    <script src="{% static "simulators/directives.js" %}"></script>
    {% for simulator in simulators %}
        <script src="{% static "simulators/" %}{{ simulator }}/controller.js"></script>
    {% endfor %}
{% endblock %}