{% load staticfiles %}
<script>
    var template_urls = {
        "keyboard": "{% static "simulators/keyboard.html" %}",
        "response-input": "{% static "simulators/response-input.html" %}",
        "response-span": "{% static "simulators/response-span.html" %}",
        "simulator-selector": "{% static "simulators/simulator_selector.html" %}",

        "counting": "{% static "simulators/counting/simulator.html" %}",
        "example": "{% static "simulators/example/simulator.html" %}",
        "field": "{% static "simulators/field/simulator.html" %}",
        "fillin": "{% static "simulators/fillin/simulator.html" %}",
        "free_answer": "{% static "simulators/free_answer/simulator.html" %}",
        "numberline": "{% static "simulators/numberline/simulator.html" %}",
        "selecting": "{% static "simulators/selecting/simulator.html" %}",
        "pairing": "{% static "simulators/pairing/simulator.html" %}",

        "keyboard-wizard": "{% static "simulators/keyboard-wizard.html" %}",
        "roller-wizard": "{% static "simulators/roller-wizard.html" %}"
    }
</script>
