{% extends "core/base.html" %}
{% load staticfiles %}


{% block content %}

    <div ng-controller="Loader">
        <div id="playground">
            <numberline interface='interface' data='{"question": "4+14", "answer": 18}' />
        </div>
    </div>
    <hr/>

{#    {% for question in questions %}#}
{#        {{ question.as_json }}#}
{#        <br/>#}
{#    {% endfor %}#}
    
{% endblock %}


{% block extrascripts %}
    <script src="{% static "simulators/loader.js" %}"></script>
    <script src="{% static "simulators/numberline/controller.js" %}"></script>
{% endblock %}