/* Skill selection*/
#skill_selector{
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#skill_selector div.skill{
    height: 200px;
    width: 200px;
    border: solid #000000 1px;
    margin: 5px;
    padding: 15px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: gray;
    background: center center no-repeat;
    position: relative;
}

#skill_selector div.skill:hover{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    color: #000000;
}

#skill_selector div.skill span.subskills{
    position: absolute;
    bottom: 5px;
    right: 50px;
    color: #2BA6CB;
}


#skill_selector div.skill span.title{
    font-size: 1.3em;
    font-weight: bold;
    color: #000000;
}

.skill-tabs dd a, .skill-tabs dd a:hover, .skill-tabs dd.active a {
    background: center bottom no-repeat;
    background-size: 50%;
}


.tick{
    background: url("tick.png") no-repeat center center;
    background-size: auto 70%;
}