<!doctype html>
<html>
<head>
    <title>MatMat - správa dítěte</title>
</head>

<body>
<p>Dobrý den,<br/>
    tento e-mail byl automaticky vygenerován systémem <a href="{{ domain }}{% url "home" %}">MatMat.cz</a>.
    Uživatel <b>{{ user.first_name }} {{ user.last_name }}</b>
    vám tímto e-mailem dává možnost spravovat dítě <b>{{ child.user.first_name }} {{ child.user.last_name }}</b> pod vaším účtem.
</p>
<p>
    Pro přidání dítěte se prosím <a href="{{ domain }}{% url "home" %}">přihlašte</a> do systému a poté následujte tento odkaz:
</p>
<p>
    <a href="{{ domain }}{% url "receive_child" child.code %}">{{ domain }}{% url "receive_child" child.code %}</a>
</p>

{% if msg %}
    <b>Zpráva od odesílatele</b>
    <p>{{ msg|linebreaksbr }}</p>
{% endif %}

MatMat
<br/>
V případě problémů nebo dotazů prosím napište na <a href="mailto:matmat-web@googlegroups.com">matmat-web@googlegroups.com</a>
</body>
</html>