<nav class="top-bar" data-topbar data-options="back_text: Zpět">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">MatMat</a></h1>
        </li>
    </ul>
    <div class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></div>

    <section class="top-bar-section">
    <ul class="left">
        <li>
            <a href="/view">Moje vědomosti</a>
        </li>
        <li ng-show="userService.user.staff">
            <a href="#">Administrace</a>
        </li>
    </ul>
    <ul class="right">
        <li ng-show="userService.status.logged"><a style="height: 45px" href="teacher"><i style="font-size: 1.8em;" class="fi-torsos-all"></i></a></li>
        <li class="has-dropdown not-click" ng-show="userService.status.logged">
            <a href="#">{{ userService.user.first_name }} {{ userService.user.last_name }}</a>
            <ul class="dropdown">
                <li><a href="/teacher">Učitelský režim</a></li>
                <li><a href="#">Propojení účtů</a></li>
                <li ng-click="userService.logout()"><a>Odhlásit se</a></li>
            </ul>
        </li>
        <li class="has-dropdown not-click" ng-hide="userService.status.logged">
            <a href="#"> Přihlášení </a>
            <ul class="dropdown">
                <li>
                    <a class="login-provider" id="login-google" ng-click="userService.loginGoogle()">
                    <img width="24" height="24" class="provider-signup-img" src="static/imgs/google-icon.png">
                        <span class="provider-signup-text">přes <b>Google</b></span>
                    </a>
                </li>
                <li>
                    <a class="login-provider" id="login-facebook" ng-click="userService.loginFacebook()">
                    <img width="24" height="24" class="provider-signup-img" src="static/imgs/facebook-icon.png">
                        <span class="provider-signup-text">přes <b>Facebook</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </a>
                </li>
                <li>
                    <a class="login-provider" href="#" id="login-email" data-reveal-id="login-modal">
                        <i class="fi-at-sign"></i>
                        <span class="provider-signup-text">přes <b>jméno</b></span>
                    </a>
                </li>
                <li>
                    <a class="login-provider" href="#" id="login-email" data-reveal-id="signup-modal">
                        <i class="fi-arrow-up"></i>
                        <span class="provider-signup-text"><b>registrovat</b></span>
                    </a>
                </li>
            </ul>
        </li>
        <li><a style="height: 45px" href="/faq">
            <i style="font-size: 1.8em;" class="fi-info"></i>
        </a></li>
    </ul>

    </section>
</nav>

<div id="login-modal" class="reveal-modal small" data-reveal>
    <a class="close-reveal-modal">&#215;</a><br/>
    <div class="row collapse">
        <div class="columns medium-12 large-5">
            <input ng-model="credentials.username" type="text" placeholder="jméno" name="username" />
        </div>
        <div class="columns medium-8 large-5">
            <input ng-model="credentials.password" class="columns medium-5" type="password" placeholder="heslo" name="password" />
        </div>
        <div class="columns medium-4 large-2">
            <a href="#" ng-click="login()" class="button postfix" >Přihlásit</a>
        </div>
    </div>
    <p class="text-center" ng-class="msg_color">
        {{ msg }}
    </p>
    <p class="right"><a href="#" data-reveal-id="signup-modal">registrovat</a></p>
</div>

<div id="signup-modal" class="reveal-modal small" data-reveal>
    <a class="close-reveal-modal">&#215;</a><br/>
    <div class="row collapse">
        <legend>
            Uživatelské jméno
            <input type="text" ng-model="newUser.username">
        </legend>
        <legend>
            E-mail
            <input type="text" ng-model="newUser.email">
        </legend>
        <legend>
            Heslo
            <input type="password" ng-model="newUser.password">
        </legend>
        <legend>
            Kontrola hesla
            <input type="password" ng-model="newUser.password_check">
        </legend>
        <legend>
            Křestní jméno
            <input type="text" ng-model="newUser.first_name">
        </legend>
        <legend>
            Příjmení
            <input type="text" ng-model="newUser.last_name">
        </legend>


        <button ng-disabled="!newUser.username || !newUser.email || !newUser.password || !newUser.password_check || !newUser.first_name || !newUser.last_name"
                ng-click="signup()">Registrovat</button>
    </div>
    <p class="text-center" ng-class="msg_color">
        {{ msg }}
    </p>
</div>