{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">

    <meta property="og:image" content="{{ DOMAIN }}{% static 'imgs/logo.png' %}"/>

    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="description" content="Inteligentní aplikace na procvičování základu matematiky (počítání, sčítání, odčítání, násobení, dělení)">
    <meta name="keywords" content="matematika, počítání, sčítání, odčítání, násobení, dělení, procvičování, základní škola, násobilka, malá násobilka, předškoláci, předškolní" />
    <title>{% block title %}Procvičování matematiky{% endblock %} - MatMat</title>
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}">

    {# styles and scripts #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="{% static "matmat.min.css" %}">

    <script src="{% static "libs.min.js" %}"></script>
    {% if DEBUG %}
        <script src="{% static "matmat.js" %}"></script>
    {% else %}
        <script src="{% static "matmat.min.js" %}"></script>
    {% endif %}

    <script>
        var user = {{ user | safe | default:"null" }};
        var config = {{ config_json | safe }};
    </script>

    <base href="/">


    {% include "googleanalytics.html" %}
</head>

<body ng-app="matmat">

<div id="wrapper">
    <div ng-include="'panel.html'" ng-controller="panel" class="contain-to-grid" role="navigation"></div>

    <a href="#" data-reveal-id="feedback-modal" id="feedback">Napište nám</a>

    <div ng-include="'feedback.html'" ng-controller="feedback"></div>

    <div id="content-wrapper">
        <div id="content" class="row">
            <div ng-view></div>
        </div>
    </div>

    <div id="footer">
        <a target="_blank"  href="http://www.fi.muni.cz/">
            <img src="{% static "imgs/logo_fi_small.png" %}" alt="Fakulty Informatiky"/> &nbsp;&nbsp;&nbsp;
        </a>
        <a href="/about">
            <img src="{% static "imgs/al-logo-small.png" %}" alt="Adaptive Learning"/> &nbsp;&nbsp;&nbsp;
            O projektu</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" data-reveal-id="feedback-modal">Napište nám</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/faq" >FAQ</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        Vyzkoušejte také
        <a href="http://slepemapy.cz" target="_blank">Slepé Mapy</a>,
        <a href="http://www.umimecesky.cz" target="_blank">Umíme česky</a>,
        <a href="http://www.poznavackaprirody.cz/" target="_blank">Poznávačka Přírody</a>,
        <a href="http://anatom.cz/" target="_blank">Anatom</a>,
        <a href="http://zlomky-hrave.cz/" target="_blank">Zlomky hravě</a>
    </div>
</div>
</body>
</html>
