#keyboard-wizard{
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: -70px;
}

#scroll-left, #scroll-right{
    width: 119px;
    height: 273px;
    display: inline-block;
}
#scroll-left{
    background-image: url('scroll-left.png');
}
#scroll-right{
    background-image: url('scroll-right.png');
}

#scroll-center{
    border: solid #b3b3b3;
    border-width: 1px 0 1px 0;
    height: 120px;
    background-color: white;
    vertical-align: top;
    margin-top: 80px;
    width: 0;
    transition: width 0.5s;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

#scroll-content{
    width: 0;
    margin: auto;
}

#scroll-content > div{
    height: 110px;
    width: 660px;
    margin-left: -330px;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

#keyboard-wizard.open #scroll-center{
/*#keyboard-wizard:hover #scroll-center{*/
    width: 660px;
}

#keyboard-wizard div.key{
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    height: 50px;
    min-width: 50px;
    top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bold;
    border: solid #003f54 1px;
    border-radius: 25px;
    background-color: #007095;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color, box-shadow 0.5s;

}
#keyboard-wizard div.choices div.key:nth-child(even){ top: 50px; }

#keyboard-wizard div.key.back{
    top: 50px;
    margin-right: -150px;
}

#keyboard-wizard div.key.submit{
    background-color: darkgreen;
    height: 70px;
    width: 70px;
    font-size:  2.5rem;
    border-radius: 40%;
    margin-left: -20px;
    margin-right: 5px;
}
#keyboard-wizard div.key.submit:hover{ background-color: green; }
#keyboard-wizard div.key.submit.disabled{ background-color: gray; box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);}
#keyboard-wizard div.key.submit.disabled:hover{ background-color: gray; }

#keyboard-wizard div.key.blink{
    -webkit-animation: hightlight 1s infinite; /* Chrome, Safari, Opera */
    animation: hightlight 1s infinite;
}
@keyframes hightlight { 50% {background-color: darkseagreen; box-shadow: 0 0 15px rgba(0, 50, 0, 0.7);} }
@-webkit-keyframes hightlight { 50% {background-color: green; box-shadow: 0 0 15px rgba(0, 50, 0, 0.7);} }

#keyboard-wizard div.key.choice{
    border-radius: 40%;
}
#keyboard-wizard div.key.choice:hover{background-color: green;}

#keyboard-wizard div.key.skip{
    height: 30px;
    width: 50px;
    margin-top: 55px;
    background-color: darkred;
}
#keyboard-wizard div.key.skip i{position: absolute; top: -4px; left: 15px;}
#keyboard-wizard div.key.skip:hover{background-color: red;}

#keyboard-wizard div.key:hover{
    background-color: #008cba;
    box-shadow:0 0 7px rgba(0, 0, 0, 1);
}
