#content-wrapper {
    background: url("komnata.svg") 50% 100px no-repeat;
    background-size: contain;
    max-width: 1500px;
    margin: auto;
    padding: 5px;
}

#content{
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}