#content-wrapper {
    background: url("komnata.svg") 50% 100px no-repeat;
    background-size: contain;
    max-width: 1500px;
    min-height: 900px;
    margin: auto;
    padding: 5px;
}

#content{
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: visible;
    z-index: 0;
}

/* Skill selection*/
#skill_selector{
    text-align: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#skill_selector div.skill{
    height: 237px;
    width: 200px;
    margin: 5px;
    padding: 15px;
    padding-top: 22px;
    display: inline-block;
    background: center center no-repeat;
    opacity: 0.75;
    position: relative;
    top: 0;
    transition: all 0.5s;
}

#skill_selector div.skill:hover{
    opacity: 1;
    top:-5px;
}

#skill_selector div.skill span.subskills{
    position: absolute;
    bottom: 58px;
    right: 30px;
    color: #000000;
}


#skill_selector div.skill span.title{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 15px;
    color: #000000;
}

.skill-tabs dd a, .skill-tabs dd a:hover, .skill-tabs dd.active a {
    background: center 20px no-repeat;
    background-size: 30%;
}

.loading-spinner{
    margin: 200px auto -200px;
    height: 0;
}

.tick{
    background-image: url('tick.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: darkgreen !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color, box-shadow 0.5s;
}
.tick:hover{ background-color: green !important; box-shadow:0 0 7px rgba(0, 0, 0, 1);}

#playground{
    text-align: center;
}

#playground h2{
    font-size: 4em;
}

#wizard{
    position: absolute;
    right: -50px;
    top: 300px;
    text-align: center;
}

#wizard #guy{
    height: 220px;
    width: 200px;
    background-image: url('wizard.svg');
    background-size: contain;
    z-index: 0;
}

#wizard-bubble, #wizard-bubble1, #wizard-bubble2{
    display: block;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: solid black 1px;
    border-radius: 15px;
}

#wizard-bubble{
    padding: 15px;
    right: 55px;
    bottom: 220px;
    min-height: 30px;
    min-width: 50px;
    font-weight: bold;
}

#wizard-bubble1{
    padding: 10px;
    right: 70px;
    bottom: 195px;
    border-radius: 10px;
}

#wizard-bubble2{
    padding: 5px;
    right: 65px;
    bottom: 180px;
    border-radius: 5px;
}

.solved_correctly{color: darkgreen}
.solved_incorrectly{color: darkred}

#counter{
    position: absolute;
    left: 15px;
    top: 80px;
}

#counter > div{
    height: 60px;
    width: 50px;
    overflow: visible;
    margin-bottom: -30px;
    position: relative;
}
#counter > div div{
    background: url("diamond-gray.svg") no-repeat center center;
    background-size: contain;
    height: 60px;
    width: 50px;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    bottom: 0;
}
#counter > div.green div{background-image: url("diamond-green.svg")}
#counter > div.shine div{background-image: url("diamond-shine.svg")}
#counter > div.red div{background-image: url("diamond-red.svg")}
#counter > div:nth-child(even){ margin-left: 35px; }

#counter > div.animated div{
    height: 120px;
    width: 100px;
    margin-left: -25px;
    margin-top: -30px;
}

.block-objects{
    font-size: 15px;
    margin: auto;
    display: inline-block;
}

.block-objects > div > div{
    height: 2em;
    width: 2em;
    background-color: #ff7f0e;
    margin-right: 0.2em;
    position: relative;
    display: inline-block;
    /*border-radius: 3px;*/
}

.objects{
    font-size: 15px;
    max-width: 23.2em;
    margin: auto;
    text-align: left;
    margin-bottom: -1em;
}

.objects > div{
    height: 2em;
    width: 2em;
    background-color: #ff7f0e;
    margin-right: 0.2em;
    margin-bottom: 1em;
    position: relative;
    display: inline-block;
    /*border-radius: 3px;*/
}

.objects > div:nth-child(10n):after{
    content: "";
    width: 22.6em;
    left: -20.4em;
    top: -0.1em;
    height: 2.2em;
    display: block;
    background-color: #ffd080;
    position: absolute;
    z-index: -1;
    /*border-radius: 5px;*/
    box-shadow: 0 0 0.3em orange;
}
.objects > div:nth-child(10n+1){
}

.objects > div:nth-child(10n+5){
    margin-right: 0.6em;
}
/*.objects > div:nth-child(3n+2){opacity: 0.9}*/
/*.objects > div:nth-child(4n+1){opacity: 0.8}*/
/*.objects > div:nth-child(6n+3){opacity: 0.7}*/
/*.objects > div:nth-child(7n+1){opacity: 0.6}*/
/*.objects > div:nth-child(10n){opacity: 1}*/



.cubes{
    height: 150px;
    border: solid lightgrey 1px;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.cubes div{
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url("diamond-green.svg") !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent !important;
}