{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}Administrace{% endblock %}

{% block content%}
    <div class="heading"><i class="fi-eye"></i><h1>Administrace</h1></div>

    <a href="{% url "admin-skills" %}">Podrobnosti skillů a otázek</a><br/>
    <a href="{% url "admin-skill-tables" %}">Tabulky skillů - obtížnost</a><br/>
    <a href="{% url "admin-skill-tables-counts" %}">Tabulky skillů - počty odpovědí</a><br/>
    <a href="{% url "admin-skill-tables-skills" %}">Tabulky skillů - průměrný skill</a><br/>
    <br/>
    <a href="{% url "admin:index" %}">Django admin</a><br/>
    <a href="{% url "simulator_tester" %}">Simulator tester</a><br/>
    <hr/>
    <h4>Uživatelé</h4>
    
    <b>Ragistrovaní:</b> {{ registred_users }} ({{ profiles }})<br/>
    <b>Neregistrovaní:</b> {{ lazy_users }}<br/>
    <b>Děti:</b> {{ children }}<br/>

    <hr/>
    <h4>Data</h4>
    <b>Otázky:</b> {{ questions }}<br/>
    <b>Odpovědi:</b> {{ answers }}<br/>


{% endblock %}