{% extends "core/base.html" %}
{% load staticfiles core_tags %}

{% block content%}
    <h2>Počty odpovědí</h2>

    {% for row in skill_tables.numbers %}
        {% for cell in row %}

        {% endfor %}

    {% endfor %}

    {% for name in names %}
    <h4>{{ name }}</h4>
    <table class="user_skills" style="display: block;">
        {% for row in skill_tables|keyvalue:name %}
            <tr>
                {% for cell in row %}{% with skills4|keyvalue:cell as skill %}<!-- to avoid whitespaces in inline-block
                --><td style="{{ skill.style }}">
                    <span>{{ skill.count }}</span>
                    {{ cell }}
                </td><!--
                {% endwith %}
            -->{% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% endfor %}


{% endblock %}