{% include "core/googleanalytics.html" %}<div ng-controller="childrenComparison">
    <div ng-init='
        data = {{ data | safe }};
        skills = data.skills;
        base_skills = data.base_skills;
        sub_skills = data.sub_skills;
        userSkills = data.user_skills;
        userDiffs = data.user_diffs;
        children = data.children;
        answer_counts = data.answer_counts;
        answer_correct_counts = data.answer_correct_counts;
        '></div>
    {% verbatim %}
    <table style="border: none;" class="children-comparison">
        <thead style="background-color: transparent;">
        <tr>
            <th></th>
            <th class="rotate" ng-repeat-start="s in base_skills" ng-init="skill = pure_skills[s]"><div><span>
                        <b>{{ skill.note }}</b>
                    </span></div></th>
            <th class="rotate" ng-repeat-end ng-repeat="ss in sub_skills[s]"  ng-init="sub_skill = pure_skills[ss]"><div><span>
                        &nbsp;&nbsp;&nbsp;{{ sub_skill.note }}
                    </span></div></th>
        </tr>
        </thead>
        <tbody ng-repeat="(c, data) in skills" ng-init="child = children[c]">
        <tr>
            <th><a href="{% endverbatim %}{% url "user_skills" %}{% verbatim %}{{ child.user_pk }}">{{ child.name }}</a></th>
            <td class="skill_detail"  ng-repeat-start="s in base_skills"
                ng-mouseenter="user_skill.opened=true" ng-mouseleave="user_skill.opened=false"
                ng-init="
                            user_skill = skills[c][s];
                            user_skill.details.answer_count = answer_counts[c][user_skill.id];
                            user_skill.details.answer_correct_count = answer_correct_counts[c][user_skill.id]; "
                ng-style="user_skill.style">
                {{ user_skill.details.answer_correct_count }}/{{ user_skill.details.answer_count }}
                <div ng-cloak ng-show="user_skill.opened" >
                    <div ng-show="user_skill.details">
                        {{ child.name }} - {{ user_skill.note }}
                        <br/>
                        <b>Dovednost: {{ user_skill.fromFive }} z 5</b>
                        <br/>
                        <b>{{ user_skill.details.answer_count }} odpovědí</b>
                        <br/>
                        <b class="green">{{ user_skill.details.answer_correct_count }} správných</b>
                        <br/><span class="red">{{ user_skill.details.answer_count - user_skill.details.answer_correct_count }} špatných</span>
                    </div>
                </div>
            </td>
            <td class="skill_detail" ng-repeat-end ng-repeat="ss in sub_skills[s]"
                ng-mouseenter="user_skill.opened=true" ng-mouseleave="user_skill.opened=false"
                ng-init="
                            user_skill = skills[c][ss];
                            user_skill.details.answer_count = answer_counts[c][user_skill.id];
                            user_skill.details.answer_correct_count = answer_correct_counts[c][user_skill.id]; "
                ng-style="user_skill.style">
                {{ user_skill.details.answer_correct_count }}/{{ user_skill.details.answer_count }}
                <div ng-cloak ng-show="user_skill.opened" >
                    <div ng-hide="user_skill.details">
                        {% endverbatim %}{% include "core/spinner.html" %}{% verbatim %}
                    </div>
                    <div ng-show="user_skill.details">
                        {{ child.name }} - {{ user_skill.note }}
                        <br/>
                        <b>Dovednost: {{ user_skill.fromFive }} z 5</b>
                        <br/>
                        <b>{{ user_skill.details.answer_count }} odpovědí</b>
                        <br/>
                        <b class="green">{{ user_skill.details.answer_correct_count }} správných</b>
                        <br/><span class="red">{{ user_skill.details.answer_count - user_skill.details.answer_correct_count }} špatných</span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    {% endverbatim %}
</div>