{% extends "core/base.html" %}
{% load staticfiles %}
{% load core_tags %}

{% block title %}Moje vědomosti{% endblock %}

{% block extrascripts %}
    <script src="{% static "my_skills.js" %}"></script>
    <script src="{% static "scripts.js" %}"></script>
    <script src="{% static "graphics/wizard/wizard.js" %}"></script>
    {% include "questions/template_urls.html" %}
{% endblock %}

{% block content %}
<div ng-controller="mySkills">
    <div ng-init='
        data = {{ data | safe }};
        skills = data.skills;
        base_skills = data.base_skills;
        sub_skills = data.sub_skills;
        userSkills = data.user_skills;
        userDiffs = data.user_diffs;
        skillTables = data.skill_tables;
        proceedSkill = data.proceed_skill;
        active = data.active'>
    </div>
{% verbatim %}
    <div class="right text-right">
        <a ng-href="{{ skills[proceedSkill].url }}" ng-cloak ng-show="proceedSkill"><button class="radius">Procvičovat dál <br/><b>{{ skills[proceedSkill].note }}</b></button></a>
        {% endverbatim %}{{ user_showed.first_name }}{% verbatim %}
    </div>
    <hr class="skill-hr" ng-cloak />
    <tabset class="skill-tabs" ng-cloak>
        <tab ng-repeat="s in base_skills" ng-init="skill = skills[s]" active="skill.active">
            <tab-heading ng-style="skill.style" class="fancy" ng-class="{'active': skill.active}" >
                {{ skill.note }}
                <div class="gradient"></div>
            </tab-heading>
            <div class="skill-heading" ng-style="skill.style2">
                <i class="fi-arrow-down"></i>
                <div class="right" ng-show="skill.diff">
                    <div ng-repeat="is in skill.diamonds track by $index" class="diamond right" ng-class="{green: is}"></div>
                </div>
                {{ skill.note }}
            </div>
            Celkem <b>{{ skill.answer_count }} odpovědí</b> z toho <b class="green">{{ skill.correct_answer_count }} správných</b> a <span class="red">{{ skill.answer_count - skill.correct_answer_count }} špatných</span>
            <div class="right"><a ng-href="{{ skill.url }}"><i class="fi-play"></i> Procvičit <b>{{ skill.note }}</b></a></div>

            <accordion close-others="true">
                <accordion-group ng-repeat="ss in sub_skills[s]" ng-init="sub_skill = skills[ss]" is-open="sub_skill.active">
                    <accordion-heading><div ng-style="sub_skill.style2">
                        <i ng-class="{'fi-arrow-right': !sub_skill.active, 'fi-arrow-down': sub_skill.active}"></i>
                        <div class="right" ng-show="sub_skill.diff">
                            <div ng-repeat="is in sub_skill.diamonds track by $index" class="diamond right" ng-class="{green: is}"></div>
                        </div>
                        {{ sub_skill.note }}
                    </div></accordion-heading>
                    Celkem <b>{{ sub_skill.answer_count }} odpovědí</b> z toho <b class="green">{{ sub_skill.correct_answer_count }} správných</b> a <span class="red">{{ sub_skill.answer_count - sub_skill.correct_answer_count }} špatných</span>
                    <div class="right"><a ng-href="{{ sub_skill.url }}"><i class="fi-play"></i> <b>{{ sub_skill.note }}</b></a></div>
                    <table ng-show="skillTables[sub_skill.name]" class="user_skill_table">
                        <tr ng-repeat="row in skillTables[sub_skill.name]">
                            <td ng-repeat="c in row" ng-init="cell = skills[c]" ng-style="cell.style">
                                {{ cell.note }}
                            </td>
                        </tr>
                    </table>
                </accordion-group>
            </accordion>
        </tab>
    </tabset>

{% endverbatim %}
    <wizard></wizard>
    <div ng-hide='true' > {% include "core/spinner.html" %}</div>
</div>

{% endblock %}
