{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
    <dl class="tabs skill-tabs" data-tab>
        {% for skill in skills %}
             <dd {% if active == skill.name %}class="active"{% endif %}>
                 <a style="{{ skill.style }} background-image: url('{% static "core/imgs/skill_" %}{{ skill.name }}.png')"
                     href="#panel{{ skill.pk }}"
                     >
                     {{ skill.note }}</a></dd>
        {% endfor %}
    </dl>

    <div class="tabs-content">
        {% for skill, skill_data in data.items %}
            <div class="content{% if active == skill.name %} active{% endif %}" id="panel{{ skill.pk }}">
            {% if skill_data.skill %}


                <h3>{{ skill_data.skill.skill.note }}</h3>
                <div class="progress small-12 medium-10 large-8 small-centered round">
                    <span class="meter" style="{{ skill_data.skill.style }} width: {{ skill_data.skill.value_percent }}%">
                        {{ skill_data.skill.value_percent }}%
                    </span>
                </div>
                {% for _, user_skill in skill_data.skills.items %}
                    {% if user_skill %}
                        <b>{{ user_skill.skill.note }}</b> -
                            <a href="{% url "play"%}?skill={{  user_skill.skill.pk }}">procvičit</a>
                         <div class="progress small-12 medium-10 large-8 small-centered round">
                             <span class="meter" style="{{ user_skill.style }} width: {{ user_skill.value_percent }}%">
                                 {{ user_skill.value_percent }}%
                             </span>
                         </div>
                    {% endif %}
                {% endfor %}
                <hr/>
                <table class="user_skills" style="display: block;">
                {% for row in skill_data.table %}
                    <tr>
                    {% for skill in row %}<!-- to avoid whitespaces in inline-block
                --><td style="{{skill.style}}">
                            {{ skill.name }}
                        </td><!--
                 -->{% endfor %}
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                Zatím neřešno
            {% endif %}
            </div>
        {% endfor %}
    </div>


{% endblock %}
