{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
    <dl class="tabs skill-tabs" data-tab>
        {% for skill in skills %}
             <dd {% if active == skill.name %}class="active"{% endif %}>
                 <a style="background-image: url('{% static "core/imgs/skill_" %}{{ skill.name }}.png')"
                     href="#panel{{ skill.pk }}"
                     >
                     {{ skill.note }}</a></dd>
        {% endfor %}
    </dl>

    <div class="tabs-content">
        {% for skill, skill_data in data.items %}
            <div class="content{% if active == skill.name %} active{% endif %}" id="panel{{ skill.pk }}">
            {% if skill_data.skill %}


                <h3>{{ skill_data.skill.skill.note }}:</h3>
                <div class="progress large-5 alert round"> <span class="meter" style="width: {{ skill_data.skill.value_percent }}%"></span></div>
                {% for _, user_skill in skill_data.skills.items %}
                    {% if user_skill %}
                        <b>{{ user_skill.skill.note }}</b>:<br/>
                         <div class="progress large-5 round"> <span class="meter" style="width: {{ user_skill.value_percent }}%"></span></div>
                    {% endif %}
                {% endfor %}
                <hr/>
                <table style="display: block;">
                {% for row in skill_data.table %}
                    <tr>
                    {% for skill in row %}
                        <td style="display: inline-block; {{skill.style}}">
                            {{ skill.name }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                Zatím neřešno
            {% endif %}
            </div>
        {% endfor %}
    </div>


{% endblock %}
